img
{
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    margin-left: 32px;
    margin-right: 32px;
}

p,
ul,
ol
{
    box-sizing: border-box;
    max-width: 700px;
    width: 100%;
    font-size: 20px;
    line-height: 1.25;
}

li
{
    margin: 15px;
}

h1
{
    font-size: 48px;
    max-width: 700px;
    width: 100%;
    margin: 0;
}

/* ============================================================
                    CLASSES: CONTENT  
   ============================================================ */
.text-container
{
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
}